@charset "UTF-8";

body {
    background-color: rgb(192, 240, 224);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

h1 {
    color:rgb(51, 75, 67);
    background-color: azure;
}

h2 {
    color:rgb(0, 106, 73);
}
