/*.galeria{
    background-color: blue;
    text-align: center;
}

.primeira-fila-imagens{
    background-color: red;
}*/

body {
    background-color: black;
}

h1 {
    color: white;
}

a {
    color: white;
}